
@{
    ViewData["Title"] = "Index";
}

<h1>Pagina de Clientes</h1>
<hr />
<div>
    <h3>Bienvenidos</h3>
    <p>Esta es una vista especial para los clientes de la empresa</p>
    <p>Me gusta el polloto asado con papitas asadas</p>
</div>
<br />

@Html.ActionLink("Pedidos", "Pedidos");